{% extends "base_generic.html" %}

{% block content %}
  <h1>Bilgisayar Bilimi ve Bilişim Teknolojileri ve Yazılım Dersi Soru Havuzu</h1>
  <p>Bilgisayar Bilimi ve Bilişim Teknolojileri ve Yazılım soru havuzuna hoşgeldiniz, developed by <em>Özgür Bayraktaroğlu</em>!</p>
  <h2>5. Sınıf Bilişim Teknolojileri ve Yazılım Dersi Soruları</h2>
  <ul>
    <li><strong>Toplam soru sayısı:</strong> {{ total_questions }}</li>
    <li><strong>Ünite 1 - BİLİŞİM TEKNOLOJİLERİ:</strong> {{ num_unit1 }}</li>
      <ul>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Bilişim Teknolojilerinin Günlük Yaşamdaki Önemi' %}"> <strong>Konu 1 - Bilişim Teknolojilerinin Günlük Yaşamdaki Önemi:</strong></a> {{ num_unit1_topic1 }}</li>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Bilgisayar Sistemleri' %}"> <strong>Konu 2 - Bilgisayar Sistemleri:</strong></a> {{ num_unit1_topic2 }}</li>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Dosya Yönetimi' %}"><strong>Konu 3 - Dosya Yönetimi:</strong></a> {{ num_unit1_topic3 }}</li>
      </ul>
    <li><strong>Ünite 2 - ETİK VE GÜVENLİK:</strong> {{ num_unit2 }}</li>
      <ul>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Etik Değerler' %}"><strong>Konu 1 - Etik Değerler:</strong></a> {{ num_unit2_topic1 }}</li>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Dijital Vatandaşlık' %}"><strong>Konu 2 - Dijital Vatandaşlık:</strong></a> {{ num_unit2_topic2 }}</li>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Gizlilik ve Güvenlik' %}"><strong>Konu 3 - Gizlilik ve Güvenlik:</strong></a> {{ num_unit2_topic3 }}</li>
      </ul>
    <li><strong>Ünite 3 - İLETİŞİM, ARAŞTIRMA VE İŞ BİRLİĞİ:</strong> {{ num_unit3 }}</li>
      <ul>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Bilgisayar Ağları' %}"><strong>Konu 1 - Bilgisayar Ağları:</strong></a> {{ num_unit3_topic1 }}</li>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Araştırma' %}"><strong>Konu 2 - Araştırma:</strong></a> {{ num_unit3_topic2 }}</li>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='İletişim Teknolojileri ve İş Birliği' %}"><strong>Konu 3 - İletişim Teknolojileri ve İş Birliği:</strong></a> {{ num_unit3_topic3 }}</li>
      </ul>
    <li><strong>Ünite 4 - ÜRÜN OLUŞTURMA:</strong> {{ num_unit4 }}</li>
      <ul>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Görsel İşleme Programları' %}"><strong>Konu 1 - Görsel İşleme Programları:</strong></a> {{ num_unit4_topic1 }}</li>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Kelime İşlemci Programları' %}"><strong>Konu 2 - Kelime İşlemci Programları:</strong></a> {{ num_unit4_topic2 }}</li>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Sunu Programları' %}"><strong>Konu 3 - Sunu Programları:</strong></a> {{ num_unit4_topic3 }}</li>
      </ul>
    <li><strong>Ünite 5 - PROBLEM ÇÖZME VE PROGRAMLAMA:</strong> {{ num_unit5 }}</li>
      <ul>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Problem Çözme Kavramları ve Yaklaşımları' %}"><strong>Konu 1 - Problem Çözme Kavramları ve Yaklaşımları:</strong></a> {{ num_unit5_topic1 }}</li>
          <li><a href="{% url 'class-topic' class_name=class_name topic_name='Programlama' %}"><strong>Konu 2 - Programlama:</strong></a> {{ num_unit5_topic2 }}</li>
      </ul>
  </ul>
{% endblock %}