{% extends "base_generic.html" %}

{% block content %}
  <h1>Bilgisayar Bilimi ve Bilişim Teknolojileri ve Yazılım Dersi Soru Havuzu</h1>
  <p>Bilgisayar Bilimi ve Bilişim Teknolojileri ve Yazılım Dersi için hazırlanmış soru havuzuna hoşgeldiniz, developed by <em>Özgür Bayraktaroğlu</em>!</p>
  <p><strong>Amaç:</strong> Bu projenin temel amacı sınavlarda sorulacak soruların sistemli bir şekilde kaydedilip hızlı bir şekilde sınav kağıdı oluşturmaktır.
      <br>Nitelikli bir şekilde Bilişim Teknolojileri ve Yazılım Dersi soru havuzu oluşturmak öncelikli hedef alınmıştır.</p>
<h2>Mevcut Durum</h2>
  <ul>
      <p><strong>Toplam Soru Sayısı:</strong> {{ total_questions }}</p>
      <li><a href="{% url 'go-class' class_name='Bty5' %}"> <strong>5. Sınıf Bilişim Teknolojileri ve Yazılım Dersi soru sayısı:</strong></a>{{bty5questions}}</li>
      <li><strong>6. Sınıf Bilişim Teknolojileri ve Yazılım Dersi soru sayısı:</strong>{{bty6questions}}</li>
      <li><strong>Bilgisayar Bilimi Dersi Kur_1 soru sayısı:</strong>{{course1questions}}</li>
      <li><strong>Bilgisayar Bilimi Dersi Kur_2 soru sayısı:</strong>{{course2questions}}</li>
  </ul>


{% endblock %}