{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h2>Soru hakkında detaylar</h2>
    <a href="{% url 'do-doc' question_id=object.pk %}"><strong>Word belgesi olarak kaydet!</strong></a>

    <div class="card">
      <div class="card-header"><strong>Soru:</strong> {{ object.text }}</div>
      <div class="card-body">
        <ol type="A">
          <li>{{ object.choice_a }}</li>
          <li>{{ object.choice_b }}</li>
          <li>{{ object.choice_c }}</li>
          <li>{{ object.choice_d }}</li>
        </ol>
      </div>
      <div class="card-footer"><strong>Doğru Cevap:</strong> {{ object.right_choice }} <br>
        <strong>Konu:</strong> {{ object.topic }} <br>
        <strong>Son düzenleme tarihi:</strong> {{ object.date_modified }}
      </div>
    </div>
  </div>
{% endblock %}