{% extends "base_generic.html" %}

{% block content %}
  <h1>Tüm Soru Listesi</h1>
  {% if question_list %}
    <div class="container">
      <h2><strong>Konu:</strong>{{topic_name}}</h2>
      <p>Tüm soruları word belgesi olarak kaydet:
        <a href="{% url 'do-list' question_topic='all' with_answer='yes' %}">Cevap Anahtarlı</a> -
        <a href="{% url 'do-list' question_topic='all' with_answer='no' %}">Cevap Anahtarsız</a>
      </p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Soru</th>
            <th>Konu</th>
          </tr>
        </thead>
        <tbody>
          {% for question in question_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{{ question.get_absolute_url }}">{{ question.text|truncatechars:100 }}</a></td>
              <td>{{question.topic}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>Henüz hiç soru girilmemiş.</p>
  {% endif %}

{% endblock %}