{% extends "base_generic.html" %}

{% block content %}
  <h1>Konuya Göre Soru Listesi</h1>
  <h1>Ziyaret sayısı: {{ num_visits }}</h1>
  <p>Sepetteki sorular:{{ my_question_list }}</p>
  {% if selected_question%}
    Yeni seçilen sorular:  {{ selected_question }}
  {% endif%}

  {% if object_list %}
    <div class="container">
      <h2><strong>Konu:</strong>{{topic_name}}</h2>
      <p>Bu konunun tüm sorularını word belgesi olarak kaydet:
        <a href="{% url 'do-list' question_topic=topic_name with_answer='yes' %}">Cevap Anahtarlı</a> -
        <a href="{% url 'do-list' question_topic=topic_name with_answer='no' %}">Cevap Anahtarsız</a>
      </p>
      <p>Sepetimdeki soruları word belgesi olarak kaydet:
        <a href="{% url 'do_basket_list' question_topic=topic_name with_answer='yes' %}">Cevap Anahtarlı</a> -
        <a href="{% url 'do_basket_list' question_topic=topic_name with_answer='no' %}">Cevap Anahtarsız</a>
      </p>
      <form>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Soru</th>
          </tr>
        </thead>
        <tbody>

          {% for question in object_list %}
            <tr>
              <td><input type="checkbox" name="selected_question" value="{{question.pk}}"></td>
              <td>
                <div class="card">
                  <div class="card-header"><strong>{{ forloop.counter }}.</strong> <a href="{% url 'question-detail' class_name=class_name pk=question.pk %}">{{ question.text }}</a></div>
                  <div class="card-body">
                    <ol type="A">
                      <li>{{ question.choice_a }}</li>
                      <li>{{ question.choice_b }}</li>
                      <li>{{ question.choice_c }}</li>
                      <li>{{ question.choice_d }}</li>
                    </ol>
                  </div>
                  <div class="card-footer"><strong>Doğru Cevap:</strong> {{ question.right_choice }} <br>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" value="Sepete Ekle">
      </form>
    </div>
  {% else %}
    <p>Henüz hiç soru girilmemiş.</p>
  {% endif %}       
{% endblock %}

